@{
    ViewBag.Title = "Home Page";
}



<body background="~/Images/RanmoFirstPage.PNG" align="center">


    <div class="jumbotron">

        <div class="lag" align="center"><h2>Data Application For Ranmo</h2></div>

    </div>

</body>