
@{
    ViewBag.Title = "Index";

    //https://jqueryui.com/dialog/#modal-form
}

<h2>Rejected Items Adding Test</h2>

@*<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewRejectedReason()">Rejects</button>
        </div>
    </div>

    <div class="modal fade" id="newOrderModal">
        <br /><br /><br /><br /> <br /><br /><br /><br />
        <div class="modal-dialog modal-lg" style=" width:600px !important;" title="Add new Rejects record">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Close</h4>
                </div>
            </div>
        </div>
    </div>
</div>*@

<form id="NewRejectedReasonForm">
    <div class="modal-body">
        @*Order Details*@
        <h5 style="margin-top:10px;color:#ff6347">Reject records</h5>
        <hr />
        <div class="form-horizontal">
            <input type="hidden" id="OrderId" />

            <table cellpadding="5" cellspacing="5">
                <tr>
                    <td>
                        Rejected Reason
                    </td>
                    <td>
                        <input type="text" id="RejectReasonName" name="RejectReasonName" placeholder="Reject Reason" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        No of Items Rejected
                    </td>
                    <td>
                        <input type="number" id="NumberOfRejects" name="NumberOfRejects" placeholder="No of rejected items" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a id="addToList" class="btn btn-primary">Add To List</a>
                    </td>
                </tr>
            </table>

            <table id="detailsTable" class="table table-sm table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="width:60%">Rejected Reason</th>
                        <th style="width:30%">No of Items</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>
    </div>
</form>

@section scripts{


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        .ui-autocomplete-loading {
            background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        //Show Modal.
        function addNewRejectedReason() {
            $("#newOrderModal").modal();
        }


        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#RejectReasonName").val()) == "" || $.trim($("#NumberOfRejects").val()) == "") return;

            var RejectReasonName = $("#RejectReasonName").val(),
                NumberOfRejects = $("#NumberOfRejects").val(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + RejectReasonName + '</td><td>' + NumberOfRejects + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#RejectReasonName").val('');
            $("#NumberOfRejects").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {

            var rr = $("#RejectReasonName").val();
            alert(data);


            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/RanmoDataAppMVC/RejectedItems/SaveOrder",
                data: JSON.stringify(rr),
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    RejectReasonName: $(this).find('td:eq(0)').html(),
                    NumberOfRejects: $(this).find('td:eq(1)').html()
                });
            });


            var data = JSON.stringify({
                //name: $("#name").val(),
                //address: $("#address").val(),
                ProductionReject: orderArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });





    </script>
}
