@model RanmoDataAppMVC.Models.Production


<h2>Index</h2>



@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.ItemObj.ItemForAndName, new { @class = "form-control" })
}



@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control" })
}




















@section scripts {

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        .ui-autocomplete-loading {
            background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
    $(document).ready(function () {
        $("#ItemName").autocomplete({
    source: function (request, response) {
    $.ajax({
    url: '@Url.Action("GetItems", "AutoComplete")',
    datatype: "json",
    data: {
    term: request.term
    },
    success: function (data) {
    response($.map(data, function (val, item) {
    return {
        label: val.ItemName,
        value: val.ItemName,
    Id: val.Id
    }
    }))
    }
    })
    },
    select: function (event, ui) {
    $("#Id").val(ui.item.Id);
    }
    });
    });
    </script>
}
